.container-outer {
    height: 600px;
    width: 550px;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-1 {
    display: flex;
    flex-wrap: wrap;
    height:465px;
    width: 465x;
    border: 1px solid black;
    position: absolute;
}


.grid-1 div.number-box{
    display: flex;
    flex-wrap: wrap;
    height: 153px;
    width: 153px;
    border: 2px solid red;
}

div.number-box div.number {
    height: 49px;
    width: 49px;
    border: 1px solid black;
}

/* start and time */
button.start {
    height: 60px;
    background-color: orange;
    border: 5px solid blue;
    border-style: outset;
}

button.start:active {
    border-style: inset;
}

.count-down {
    height: 50px;
    width: 150px;
    background: yellowgreen;
}