
.container-1,
.container-2 {
    height:468px;
    width: 468px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.grid-2 {
    display: flex;
    flex-wrap: wrap;
    height: 468px;
    width: 468px;
}

.grid-2 div {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

